<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisdemo.mapper.CoffeeMapper" >
    <insert id="save" parameterType="com.example.mybatisdemo.model.Coffee">
        insert into t_coffee(name,price)
        values(#{name},#{price,jdbcType=BIGINT})
    </insert>
</mapper>